@model List<Dish>

<div class="category">
    <div class="c-view">
        <div>
            <h2> All Dishes</h2>
        </div>
        <div>
            <button type="button" class="btn btn-success"><a href="/Category/CreateNewCategory"> <i class="bi bi-plus-circle"></i> Add New Dish</a> </button>
        </div>

    </div>
    <div class="table-container">

        <table class="table-design table">
            <tr class="thead">
                <td>
                    ID
                </td>
                <td>
                    Name
                </td>
                <td>
                    Description
                </td>
                <td>
                    Image
                </td>
                <td>
                    Rate
                </td>
                <td>
                    InStock

                </td>
                <td>
                    Price
                </td>
                <td>
                    CategoryID
                </td>
                <td>
                    Update
                </td>
                <td>
                    Delete
                </td>

            </tr>
            @foreach (var dish in Model)
            {
                <tr>
                    <td>
                        @dish.Id
                    </td>
                    <td>
                        @dish.Name
                    </td>
                    <td>
                        @dish.Description
                    </td>
                    <td>
                        <img src="/assets/img/@dish.Image" />
                    </td>
                    <td>
                        @dish.AverageRate
                    </td>
                    <td>
                        @(@dish.InStock ? "InStock" : "السمكه صاحية")
                    </td>
                    <td>
                        @dish.Price
                    </td>
                    <td>
                        @dish.CategoryId
                    </td>
                    <td>
                        <button class="table-icon"><i class="fa-regular fa-pen-to-square" style="color: #d8ac0e;"></i></button>
                    </td>
                    <td>
                        <button class="table-icon"><i class="fa-solid fa-trash-can" style="color: #d33131;"></i></button>
                    </td>

                </tr>
            }
        </table>
    </div>
</div>