@model List<Category>
@functions {
    string Slugify(string text)
    {
        return text.ToLower().Replace(" ", "-").Replace("&", "").Replace("#", "");
    }
}
<head>
    <link rel="stylesheet" href="~/assets/css/rank.css">
</head>
<!-- Menu Section -->
<section id="menu" class="menu section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Our Menu</h2>
        <p><span>Check Our</span> <span class="description-title">Yummy Menu</span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            @for (int i = 0; i < Model.Count; i++)
            {
                var category = Model[i];
                var slug = Slugify(category.Name);
                <li class="nav-item">
                    <a class="nav-link @(i == 0 ? "active show" : "")" data-bs-toggle="tab" data-bs-target="#menu-@slug">
                        <h4>@category.Name</h4>
                    </a>
                </li>
            }
        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
            @for (int i = 0; i < Model.Count; i++)
            {
                var category = Model[i];
                var slug = Slugify(category.Name);
                <div class="tab-pane fade @(i == 0 ? "active show" : "")" id="menu-@slug">

                    <div class="tab-header text-center">
                        <p>Menu</p>
                        <h3>@category.Name</h3>
                    </div>

                    <div class="row gy-5">
                        @foreach (var dish in category.Dishes)
                        {
                            <div class="col-lg-4 menu-item">
                                <a href="~/assets/img/@dish.Image" class="glightbox"><img src="~/assets/img/@dish.Image" class="menu-img img-fluid" alt=""></a>
                                <h4>@dish.Name</h4>
                                <p class="ingredients">
                                    @dish.Description
                                </p>
                                <div class="rating-container stars">
                                    <div class="rating">
                                        <input type="radio" id="star5_@dish.AverageRate" name="rating_@dish.AverageRate" value="5" />
                                        <label for="star5_@dish.AverageRate" title="5 stars"></label>
                                        <input type="radio" id="star4_@dish.AverageRate" name="rating_@dish.AverageRate" value="4" />
                                        <label for="star4_@dish.AverageRate" title="4 stars"></label>
                                        <input type="radio" id="star3_@dish.AverageRate" name="rating_@dish.AverageRate" value="3" />
                                        <label for="star3_@dish.AverageRate" title="3 stars"></label>
                                        <input type="radio" id="star2_@dish.AverageRate" name="rating_@dish.AverageRate" value="2" />
                                        <label for="star2_@dish.AverageRate" title="2 stars"></label>
                                        <input type="radio" id="star1_@dish.AverageRate" name="rating_@dish.AverageRate" value="1" />
                                        <label for="star1_@dish.AverageRate" title="1 star"></label>
                                    </div>
                                </div>
                                <div class="order">
                                    <p class="price">
                                        @dish.Price
                                    </p>
                                    @if(dish.InStock)
                                    {
                                        <a href="/Cart/AddToCart?dishId=@dish.Id">
                                            <i b-lkp8igyiih="" class="fa-solid fa-fish fish" aria-hidden="true"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-fish out-of-stock" title="Out Of Stock" aria-hidden="true"></i>
                                    }
                                </div>
                            </div><!-- Menu Item -->
                        }
                      

                    </div>
                </div><!-- End Starter Menu Content -->
            }
        </div>
    </div>
    <script>
        function changeStyle(style) {
            const container = document.getElementById('ratingContainer');
            container.className = 'rating-container ' + style;
    </script>
</section>
<!-- /Menu Section -->